/* ===============================
   BASE NAVBAR
================================== */
.main-navbar {
  background: hsl(0, 0%, 97%);
}

.navbar-brand {
  font-size: 26px;
  font-weight: 800;
  color: #1f1f1f !important;
  display: flex;
  align-items: center;
}

.brand-logo {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 8px;
}

/* MINI SELECT */
.mini-select {
  padding: 7px 16px;
  border-radius: 10px;
  background: #f3f5fc;
  border: 1px solid #dbe2ff;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;
}

.mini-select:hover {
  background: #e8edff;
  border-color: #bfd0ff;
}

/* ===============================
   MEGA MENU
================================== */
.mega-menu {
  width: 900px;
  border-radius: 14px;
  background: #fffffffc;
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12);
  border: none;
}

.mega-left {
  border-right: 1px solid #eee;
  padding-right: 15px;
}

.mega-left a {
  display: block;
  padding: 10px 12px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 8px;
  color: #333;
  cursor: pointer;
  transition: 0.2s ease;
}

.mega-left a:hover {
  background: #2789f9;
  color: #fff !important;
  padding-left: 16px;
}

/* RIGHT CONTENT */
.mega-right a {
  font-size: 14.5px;
  padding: 6px 0;
  display: block;
  color: #555;
  transition: 0.2s;
}

.mega-right a:hover {
  color: #1565ff;
}

.mega-heading {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #111;
}

/* ===============================
   NAV LINKS
================================== */
.nav-link {
  font-weight: 600 !important;
  font-size: 15px !important;
  padding: 8px 14px !important;
  color: #333 !important;
}

.nav-link:hover {
  color: #1565ff !important;
}

/* ===============================
   COUNSELLING BUTTON
================================== */
.btns {
  background: linear-gradient(90deg, #005efc, #14a5ff);
  border: none;
  padding: 7px 12px;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  font-weight: 600;
}

.btns:hover {
  opacity: 0.9;
}

/* ===============================
   PROFILE DROPDOWN
================================== */
.profile-dropdown {
  width: 290px;
  padding: 18px;
  border-radius: 14px;
  background: #fff;
}

.reward-box {
  padding: 12px;
  border-radius: 10px;
  background: #fff6e6;
  border: 1px solid #ffe2b5;
}

/* ===============================
   MOBILE RESPONSIVE
================================== */
@media (min-width: 992px) {
  .navbar-brand {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .navbar-brand {
    display: block !important;
  }
  .mega-menu {
    width: 100% !important;
    border-radius: 0;
  }

  .mega-left {
    border-right: none;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }

  .mini-select {
    display: none;
  }
}



