/* Background */
.mode-wrapper {
  background: linear-gradient(135deg, #f0f3fa, #ecedee);
  min-height: 100vh;
  padding: 60px 0;
}

/* Section Title */
.section-title1 {
  font-weight: 800;
  font-size: 26px;
  color: #1a237e;
  margin-bottom: 15px;
}

/* Glass Card */
.glass-card {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 14px;
  backdrop-filter: blur(12px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

/* Mini Cards */
.mini-box {
  background: white;
  padding: 15px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.mini-box:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.mini-icon {
  font-size: 28px;
  color: #ff9800;
}

/* Filter Buttons */
.filter-row {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}
.filter-btn {
  padding: 10px 26px;
  border-radius: 22px;
  border: 2px solid #5c6bc0;
  font-weight: 600;
  background: white;
  cursor: pointer;
  transition: 0.3s;
}
.filter-btn:hover {
  background: #e3e7ff;
}
.filter-btn.active {
  background: #3f51b5;
  color: white;
  border-color: #3f51b5;
}

/* College list */
.college-list {
  max-height: 450px;
  overflow-y: auto;
  /* padding-right: 5px; */
  padding: 5px;
}
.college-name{
  color: #0000ff !important;
}
.college-list::-webkit-scrollbar {
  width: 5px;
}
.college-list::-webkit-scrollbar-thumb {
  background: #9fa8da;
  border-radius: 3px;
}

/* Each College Card */
.college-box {
  background: white;
  padding: 20px;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0 5px 18px rgba(0,0,0,0.08);
  transition: 0.3s;
}
.college-box:hover {
  transform: translateY(-4px);
  background: #f4f6ff;
}

/* Rank Tag */
.rank-box {
  color: #ff9800;
  font-weight: 700;
  
}

/* Mode */
.mode-chip {
  background: #e8eaff;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  color: #3f51b5;
  font-weight: 600;
}

/* Stats */
.stats {
  display: flex;
  gap: 16px;
  font-size: 14px;
  color: #555;
}

/* View More */
.view-btn {
  margin-top: 12px;
  padding: 10px 28px;
  font-weight: 700;
  border: none;
  background: linear-gradient(135deg, #ffca28, #ffb300);
  border-radius: 30px;
  box-shadow: 0 4px 18px rgba(255,193,7,0.4);

  display: block;        /* added */
  margin: 20px auto 0;   /* center horizontally */
}
